*
{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul
{
    list-style-type: none;
    float: right;
    margin-top: 25px;
}
ul li
{
    display: inline-block;
}

ul li a
{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a
{
     background-color: #fff;
    color: #000;
}
.logo img
{
    float: left;
    width: 300px;
    height: 150px;
    margin: -40px;
    
}
.title
{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: #fff;
    font-size: 70px;
}

.button
{
    margin-right: 2em;
    position: fixed;
    top: 62%;
    left:20.5%;
    
    /* transform: translate(-50%,-50%);  */
}
.button1
{
    margin-right: 2em;
    position: absolute;
    top: 62%;
    left:49.5%;
    
    transform: translate(-50%,-50%); 
}
.btn{
    border: 5px solid #fff;
    margin-bottom: 8em;
    padding: 10px 30px;
    
    color: #fff;
    text-decoration:none;
    transition: 0.6s ease;
}
.btn:hover
{
    background-color: #fff;
    color:#000;
    
}

.ad{
	background-image: url("../images/background/2.jpg");
	background-size: 100%;
	width: 100%;
	height: 150%;
	min-width: 950px;
	background-attachment: fixed;
}

.lout{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
      }

.lout1
{
    margin-right: 2em;
    position: fixed;
    top: 5%;
    right:1%;
    opacity: .9;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    transform: translate(-50%,-50%); 

    
}
  
.lout:hover {
    background-color: #4CAF50;
    color: white;
}



